header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #D90429;
}
header #logo{
    margin-left: 10px;
    margin-bottom: 10px;

}
footer{

    background-color: #2B2D42;
    color: #707070;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
ul {
    list-style-type: none;
}

.row{
    margin-bottom: 30px;
}


#imagen1{
    
    height: 300px;
    width: 300px;

}
#imagen2{
    
    height: 300px;
    width: 300px;


}
#imagen3{

    height: 300px;
    width: 300px;

}
#noticia{
    border-color:white;
    margin-left: 25px;
    margin-right: 25px;
    width: 90%;
}
#cartainterna{
    border-radius: 0px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: black;

}
#contenedor{
    display: flex;
}
p{
    text-align: justify;
  text-justify: inter-word;
}

#imagen{
    
    margin-left: 10px;
    margin-right: 10px;
}
#parrafo{
    margin-left: 10px;
    margin-right: 10px;
}

#texto-footer{
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 10px;
    display: none;
}
.espacio-boton{
    margin-top: 25px;

    display: flex;
    margin-left: 6%;
}

.boton{
    background-color: #EF233C;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    padding: 10px 25px;
    font-size: 18px
}

.boton:hover{
    cursor: pointer;
    opacity: 0.6;
}
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
a:active{
    color: black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}