header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #D90429;
}
header #logo{
    margin-left: 10px;
    margin-bottom: 10px;
}

#menu{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: 35px;
    display: none;
}

footer{
    background-color: #2B2D42;
    color: #707070;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#texto-footer{
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tarjeta{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 34px;
    display: flex;
    background-color: lightgray;
    transition: 0.3s;

}

.tarjeta:hover{
    cursor: pointer;
    box-shadow: 5px 5px 20px;
}

#inicio:link{
    text-decoration: none;
}

#incio:visited{
    text-decoration: none;
}

a:link{
    color: black;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

.primera-fila{
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.favorito{
    margin-right: 10px;
    transition: 0.3s;
}

.favorito:hover{
    opacity: 0.6;
}

.marca{
    margin-left: 20px;
    font-size: 24px;
    font-weight: bold;
}

.precio{
    font-size: 24px;
    color: #EF233C;
    margin-left: 5px;
}

.añadir{
    margin-right: 10px;
    transition: 0.3s;
}

.añadir:hover{
    opacity: 0.6;
}

.titulo-precio{
    font-size: 24px;
}

.segunda-fila{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.datos-coche{
    height: 30px;
    display: flex;
}


.datos-coche span{
    font-size: 24px;
    border-right: 1.5px solid black;
    padding-right: 5px;
    margin-left: 5px;
}

.primera-fila img{
    width: 32px;
    height: 32px;
}

.contenedor{
    width: 100%;
    display: block;
    padding: 3px 10px;
}

.espacio-imagen{
    width: 30vw;
}

.espacio-imagen img{
    border-radius: 34px 0px 0px 34px;
    width: 100%;
}

.precio-coche{
    display: flex;
    margin-left: 10px;
}



@media screen and (max-width: 576px) {
    .tarjeta{
        display: block;
        height: 360px;
        border: 1px solid;
        border-radius: 34px;
    }

    .espacio-imagen{
        width: 100%;
    }
    
    .espacio-imagen img{
        border-radius: 34px 34px 0px 0px;
        width: 100%;
    }
    
    .primera-fila{
        display: flex;
        justify-content: space-between;
    }

    .segunda-fila{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        justify-content: center;
    }

    .datos-coche{
        height: 20px;
    }

    .datos-coche span{
        font-size: 16px;
    }
    
    .primera-fila img{
        width: 16px;
        height: 16px;
    }

    .precio{
        font-size: 16px;
    }

    .marca{
        font-size: medium;
        font-weight: bold;
    }

    .añadir{
        width: 24px;
        height: 24px;
        margin-left: 20px;
    }

    .titulo-precio{
        font-size: 16px;
    }

    .favorito{
        margin: 0;
    }

    .contenedor{
        width: auto;
        padding: 3px 12px;
    }

    #menu{
        display: block;
    }
}